Repository arnavyc/react-app-boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

# SPDX-FileCopyrightText: 2021 arnavyc
#
# SPDX-License-Identifier: 0BSD

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '{.[^.],}*.{js,jsx}'
      run: echo {staged_files}

    prettier:
      glob: '{.[^.],}*.{html,md,mdx,yml,yaml,json,css,scss,less}'
      run: prettier --write -- {staged_files}

chore(deps): update dependency hosted-git-info to 2.8.9 [security]
  package-lock.json
Due: prettier

chore(deps): update dependency json-schema to 0.4.0 [security]
  package-lock.json
Due: prettier

chore(deps): update dependency node-fetch to 2.6.7 [security]
  package-lock.json
Due: prettier

chore(deps): update dependency path-parse to 1.0.7 [security]
  package-lock.json
Due: prettier

chore(deps): update dependency tmpl to 1.0.5 [security]
  package-lock.json
Due: prettier

chore(deps): update dependency ws to 7.4.6 [security]
  package-lock.json
Due: prettier

refactor: temporarily add package-lock.json to prettierignore
  .prettierignore
Due: none

chore(deps): update dependency dns-packet to 1.3.2 [security]
  package-lock.json
Due: prettier

chore(deps): update dependency @babel/core to v7.17.5
  package-lock.json
  package.json
Due: prettier

chore(deps): update dependency webpack-dev-server to v4.7.4
  package-lock.json
  package.json
Due: prettier

chore(deps): update dependency eslint-config-prettier to v8.4.0
  package-lock.json
  package.json
Due: prettier

chore(deps): update dependency eslint to v8
  package.json
Due: prettier

chore(deps): update dependency eslint-config-airbnb to v19
  package-lock.json
  package.json
Due: prettier

revert: temporarily remove package-lock.json in prettierignore
  .prettierignore
Due: none

refactor: add misc changes and upgrade all dependencies
  package-lock.json
  package.json
Due: prettier

refactor: remove some Webpack errors
  config/webpack.dev.js
  src/App.jsx
Due: eslint

exempt `.prettierrc.js` & `.eslintrc.js` from coverage report
  package.json
Due: prettier

refactor: add misc changes and upgrade all dependencies (pr: #251)
  .prettierignore
  config/webpack.dev.js
  package-lock.json
  package.json
  src/App.jsx
Due: eslint, prettier

docs: update FOSSA badges
  README.md
Due: prettier

Update .editorconfig
  .editorconfig
Due: none

Create .gitattributes
  .gitattributes
Due: none

refactor: edit `.editorconfig` & add `.gitattributes` to repo (PR: #252)
  .editorconfig
  .gitattributes
Due: none

docs: revamp `README.md`
  README.md
Due: prettier

docs: revamp `README.md` (PR: #253)
  README.md
Due: prettier

refactor: transition to ES6 modules for Webpack config
  .eslintrc.js
  .eslintrc.yml
  .prettierrc.js
  .prettierrc.yml
  config/webpack.common.js
  config/webpack.dev.js
  config/webpack.prod.js
  package.json
  src/App.test.jsx
  src/index.js
  webpack.config.js
Due: eslint, prettier

ci: update Node version in CI to 16.x & 17.x
  .github/workflows/ci.yaml
Due: prettier

ci: remove package `codecov` from `package.json`
  package-lock.json
  package.json
Due: prettier

ci: update actions/setup-node in CI to v3
  .github/workflows/ci.yaml
Due: prettier

chore(deps): update actions/checkout action to v3
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/fossa.yml
Due: prettier

chore(deps): update actions/stale action to v5
  .github/workflows/stale.yml
Due: prettier

chore(deps): update dependency eslint-config-prettier to v8.5.0
  package-lock.json
  package.json
Due: prettier

chore(deps): update dependency webpack to v5.70.0
  package-lock.json
  package.json
Due: prettier

chore(deps): update dependency eslint-plugin-react to v7.29.4
  package-lock.json
  package.json
Due: prettier

chore(deps): update actions/cache action to v3
  .github/workflows/ci.yaml
Due: prettier
